*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}


body{
    text-align: center;
}
.main-container{
    
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.change-grid{
    border: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(0, 102, 246);
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 8px;
    
}